doctype html
html
  head
    title= title
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
    block sub_layout
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    block scripts
    