doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel="stylesheet", href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav.navbar.navbar-default
      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href="/") 首页
          li
            a(href="/label") 标签页
          if user
            li
              a(href="/auth/logout") 登出
    block content
    
    block sub_layout
    script(src="//code.jquery.com/jquery-2.1.4.min.js")
    script(src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")
    block scripts
    